CALENDLY_API_BASE_URL=https://api.calendly.com
CALENDLY_API_TOKEN=
CALENDLY_ORGANIZATION_URI=
CALENDLY_SCHEDULING_URL=
CALENDLY_EVENT_TYPE_URI=
CALENDLY_VALIDATION_PAGE_SIZE=20
SERVER_ADDR=:8080
APP_DATA_DIR=data
